@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}





.main {
    background-image: url(images/IN-en-20241111-TRIFECTA-perspective_149877ab-fcbd-4e4f-a885-8d6174a1ee81_large.jpg);
    background-position: center;
    background-repeat: no repeat;
    background-size: max(1000px, 100vw);
    height: 70vh;
    position: relative;

}

.main .box {
    /*dummy box */
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;


}

nav img {
    color: red;
    width: 144px;
    position: relative;
    z-index: 12;

}

nav button {
    position: relative;
    z-index: 12;
}

body {
    background-color: black;
}

.hero {
    font-family: "Martel Sans", serif;

    height: calc(100%-62px);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 12;
    gap: 21px;
    padding: 0px 30px;

}

.hero> :nth-child(1) {
    font-size: 49px;
    font-weight: 900;
}

.hero> :nth-child(2) {
    font-size: 26px;
    font-weight: 700;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;

}
.group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.separation {
    height: 5px;
    ;
    background-color: rgb(45, 44, 44);
}

.btn {
    padding: 3px 7px;
    font-weight: 600;
    background-color: rgba(248, 245, 245, 0.068);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    color: white;
    
}

.btn-red {
    background-color: red;
     padding:10px 28px;
    font-size: 20px;
    border-radius: 4px;
    color: white;

}
.main input{
    
   padding: 8px 98px 19px 14px;
   border-radius: 4px;
    font-size: 16px;
      
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(124, 117, 117, 0.5);

}
.faq{
    background: black;
    color: white;
    padding: 34px;
    

    
}
.faq h2{
    text-align: center;
    font-size: 38px;



}
.boxes:hover{
    
    background-color: grey;

}
.boxes{
    transition: all 1s ease-out;
     font-size: 24px;
    display: flex;
   background-color: grey;
   padding: 34px;
   max-width: 60vw;
   margin: 34px auto;
   cursor: pointer;
   
}
